


<div class="ui secondary  menu" id="headerProfile">
  <a class="item" id="titleCustom" href="/">
    Tyr's Vault
  </a>
  <div class="right menu">
    <a class="ui item" id="friendsLink" href="/friends">
      Friends
    </a>
    <a class="ui item" id="menuProfile" href="/profile">
      Profile
    </a>

    <a class="ui item">
      <div class="ui icon top left pointing dropdown inverted button" id="themeBtn">
        <i class="wrench icon"></i>
        <div class="menu">
          <div class="item">
            <button id="logout">Logout</button>
          </div>
        </div>
      </div>
    </a>
    <script>
      $('#themeBtn')
        .dropdown();
    </script>
  </div>
</div>
{{!-- 
<video autoplay muted loop id="myVideo">
  <source src="./imgs/cyberpunkResize.mp4" type="video/mp4">
</video> --}}

{{!-- {{ FOR EDIT PROFILE MODAL}} --}}
{{#if ownPage}}
<div class="ui modal profile">
  <i class="close icon"></i>
  <div class="header">
    Edit Profile
  </div>

  <div id="editProfileModuleMain">
    <div class="ui form">
      <div class="three fields">
        <div class="three wide field">

          <label>Profile Pic</label>

          <form id="imageUploadForm" method="POST" action="/api/user-profile/edit-picture"
            enctype="multipart/form-data">
            <label for="imageInput" style="position: relative;">
              <img src={{data.pfp}} id="profilePicture">
              <i class="fa-solid fa-circle-plus fa-xl"
                style="width: 15px; height: 15px; position:absolute; bottom: 0;"></i>
            </label>
            <input name="profilePictureSubmit" type="file" id="imageInput" accept="image/*" style="display: none;">
          </form>
        </div>
        <div class="sixteen wide field">
          <div class="five wide field">
            <label>Username</label>
            <input type="text" id="usernameText" value="{{data.username}}">
          </div>
          <div class="ui hidden divider"></div>
          <div class="sixteen wide field">
            <label>Description</label>
            <textarea id="descriptionTextArea" rows="3">{{data.description}}</textarea>
          </div>
        </div>
        <div class="ui selection dropdown" style="height: fit-content" id="platformDropdown">
          <input type="hidden" name="platform">
          <i class="dropdown icon"></i>
          <div class="default text">Add Platform</div>
          <div class="menu" id="platformDropdownValues">
            <div class="item" data-value="steam">Steam</div>
            <div class="item" data-value="xbox">Xbox</div>
            <div class="item" data-value="playstation">PlayStation</div>
            <div class="item" data-value="chesscom">Chess.com</div>
            <div class="item" data-value="fortnite">Fortnite</div>
          </div>
        </div>
        <script>
          $(document).ready(function () {
            $('.ui.dropdown').dropdown();
          });
        </script>
      </div>
      <div class="two fields">
        <span class="three wide field" style="width: 114px"></span>
        <section id="platformEdits" class="fourteen wide field" style="display: flex; flex-wrap: wrap; gap:10px;">

        </section>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="ui black deny button">
      Cancel
    </button>
    <button id="submit-form-button" class="ui positive right labeled icon button">
      Confirm
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
{{/if}}


<div id="mainProfileDiv">
  <div id="profileSection">

    <div id="profileHeader">
      <div class="ui secondary menu">
        <div class="ui item">
          <img id="userProfilePic" src={{data.pfp}}>
        </div>
        <div class="ui item">
          <h1 id="profileUsername">{{data.username}}</h1>
        </div>

        {{#if ownPage}}
        <div class="ui secondary right menu">
          <button class="ui item button" id="editProfileBtn">Edit Profile</button>
          <script>
            $('.ui.modal')
              .modal('attach events', '#editProfileBtn')
              .modal('show');
          </script>
        </div>
        {{/if}}
        {{#unless ownPage}}
        <div class="ui item right" id="addIconContainer">
          <div id={{data.username}} style="color: white;">
            <i id="addIcon" class=""></i>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>

    <div id="profileDescriptionDiv">
      <h2>Description</h2>
      <div id="profileDescription">
        <p id="profileDescriptionP">{{data.description}}</p>
      </div>
    </div>

    {{!-- <div class="ui raised rounded card" id="descriptionCard">
      <div class="content">
        <h4 class="header" style="color: white;">Introduce Yourself:</h4>
        <div class="description" style="color: white;">
          <p>Hello there! We'd love to get to know you better. Take a moment to describe yourself and share a glimpse
            into your life. Tell us about your background, interests, and passions. What makes you unique? Feel free to
            include details about your hobbies, accomplishments, or any experiences that have shaped you. We're excited
            to learn more about the wonderful person you are, so go ahead and paint a picture of yourself with words.
            Take your time and write a description about yourself.</p>
        </div>
        <div class="ui secondary right menu">
          <button class="ui item button" id="editProfileBtn"
            style="color: rgb(41, 69, 180); border: solid 2px var(--hotpink);">Edit Profile</button>
          <script>
            $('.ui.modal')
              .modal('attach events', '#editProfileBtn')
              .modal('show');
          </script>
        </div>
      </div>
    </div> --}}

    <div id="profileGamesDiv" class="ui stackable grid">

      <div class="five wide column">
        <h2 id="profilePlatformsH2">Platforms</h2>
        {{!-- <div class="ui relaxed list">
          <div class="ui item">
            <i class="steam large inverted icon"></i>
            <div class="content">
              <div class="header" id="steamUsername">@CRJ4637</div>
            </div>
          </div>
          <div class="ui item">
            <i class="playstation inverted large icon"></i>
            <div class="content">
              <div class="header" id="ps4Username">@Carreejoh</div>
            </div>
          </div>
          <div class="ui item">
            <i class="xbox inverted large icon"></i>
            <div class="content">
              <div class="header" id="xboxUsername">@Whater_idk</div>
            </div>
          </div>
        </div> --}}
      </div>

      <div class="eleven wide column">
        <h2 id="profilePlatformsH2">Friends</h2>
        <div class="ui horizontal list">
          {{#each data.friends as |friends|}}
          {{> profile-friends-details}}
          {{/each}}
        </div>
      </div>

    </div>

    <div id="favoriteGamesProfile">
      <h2 id="favoriteGamesTitle">Favorite Games</h2>
      <ul id="favoriteGamesList">

        {{#each sendDataList as |game|}}
        {{> favGame-details}}
        {{/each}}

      </ul>
      <script>
        let gamesList = document.querySelector("#favoriteGamesList");
        new Sortable(gamesList, {
          animation: 150
        });
      </script>

      {{!-- <div class="ui raised rounded card" id="descriptionCard" style="width: 250px;">
        <div class="content">
          <p style="color: white;">Metal Gear Rising: Revengeance </p>
          <div class="gameCard" style="color: white;">
            <img
              src="https://m.media-amazon.com/images/M/MV5BNmE2ZjM1YmItMjBlYy00MDI1LTg0YTAtNTcxNDZkZDdjNWVlXkEyXkFqcGdeQXVyMTk2OTAzNTI@._V1_UX200_CR0,0,200,200_AL_.jpg"
              style="border-radius: 8px">
          </div>
        </div>
      </div> --}}

    </div>
    
    {{!-- <script src="./js/games.js"></script> --}}
  </div>
</div>